@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
}

/* width */
::-webkit-scrollbar {
    width: 17.9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #FFD8D5;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fdbbb6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#fc7b72; 
  }

:root {
    --nunito: 'Nunito', sans-serif;
    --nunito-sans: 'Nunito Sans', sans-serif;
    --roxo: #8675A5;
    --branco: #fff;
    --cinza: #434343;
  }


/* Inicio da tela de adoções, opção de favorito*/

header {
  
    width: 100%;
    position: fixed;
    z-index: 2;
}

.container-header {
    width: 100%;
    height: 28%;
}

.titulo {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;

}

.titulo p {
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #434343;
}

.menu {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    
}

.logo-header {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.logo-header a {
    width: 80%;
}

.text-menu{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  
}

.text-menu a{
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #434343;
    margin: 3%;
    text-decoration: none;

}

.container-btn {
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-sair {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;

}

.container-sair img {
    width: 30%;
}

.btn-login{
    height: 33%;
    width: 72%;
    border: 0.637931px solid #434343;
    box-sizing: border-box;
    border-radius: 94.8611px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(240, 255, 255, 0);
    cursor: pointer;

}
  
.btn-login img {
    width: 37%;
    margin-right: 7%;
}


.btn-login p{
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;  
    letter-spacing: 0.01em;
    color: #434343;


}



header img {
    width: 100%;
    object-fit: cover;
}

.img-menu{
    height: 100%;
    width: 32%;
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 52%;
}

.img-menu img {
    width: 100%;
 

}

.page {

height: 657px;
}

.container-svg {
    width: 100%;
    height: 51%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
.next {
    cursor: pointer;
    position: absolute;
    top: 34%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 100%;
    user-select: none;
    left: 100%;

  }
  
  .prev {
    cursor: pointer;
    position: absolute;
    top: 34%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 100%;
    user-select: none;
    left: -15%;

  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 100%;
  }
  
  /* On hover, add a black background color with a little bit see-through */

  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bab1cc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #8675A5;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.download {
    width: 35%;
    height: 26%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    margin-top: 7%;
}

.download a {
    text-decoration: underline;
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #6250D1;
    cursor: pointer;
    padding-top: 5%;
    margin-left: 1%;
}


.documentos {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.documentos img {
    width: 11%;
}

.text-upload {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.text-upload p{
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: #434343;
}

.container-upload{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

#holder {
    width: 534px;
    height: 246px; 
    border: 3px dashed #8F7FAC;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 4%;
}

#holder p {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #8F7FAC;
}

#holder.hover { 
    border: 3px dashed #FF7D73 !important; 
}



input[type='file'] {
    display: none
  }
  
  .input-wrapper label {
    border: none;
    height: 44.584720611572266px;
    width: 285px;
    left: 59.7626953125px;
    top: 1160.1513671875px;
    border: 0.948611px solid #8F7FAC;
    border-radius: 94.86111450195312px;
    box-sizing: border-box;
    background-color: white;
    color:#8675A5;
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }
  
  .input-wrapper label:hover {
    background-color: #8F7FAC;
    border: #8F7FAC;
    color: white;
  }

  .container-name {
      width: 100%;
      height: 32%;
      display: flex;
      align-items: center;
      flex-direction: row;
  }

  .container-name p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #8F7FAC;
    margin-right: 2%;

  }

  .container-name input {
      border: none;
      width: 90%;
  }



  .btn-cadastro {
      width: 100%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .btn-cadastro button {
    border: none;
    height: 44.584720611572266px;
    width: 285px;
    left: 59.7626953125px;
    top: 1160.1513671875px;
    border-radius: 94.86111450195312px;
    background: #8F7FAC;
    color: white;
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .svg-footer {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.container-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    margin-bottom: 50px;
}

.coluna-1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coluna-1 a {
    width: 180px;
}

.text-footer P{
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: #434343;
    margin-top: 10px;
}

.text-footer {
    width: 40%;
    height: 29%;
    display: flex;
    align-items: flex-end;
}

.coluna-2{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-rede-sociais{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container-rede-sociais img {
    height: 38px;
    margin: 2%;
}

.coluna-2 p {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #434343;
    margin-top: 10px;
}

.coluna-3{
    width: 33%;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-contato p {
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #434343;
}

.alinhamento-contato {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-contato {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.text-titulo-contato {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #434343;
}

.container-btn-contato{
    height: 100%;   
}

.btn-contato {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 3.79px 3.79px rgb(0 0 0 / 25%);
    cursor: pointer;
}

#svg1 {
    display: flex;
    position: absolute;
    z-index: 0;
}

#svg2 {
    display: flex;
    position: absolute;
    z-index: -1;
}

.svg-gato {
    position: absolute;
    z-index: 3;
    margin-right: 100px;
}

.container-gato {
    min-height: 177px;
    position: absolute;
    z-index: 3;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 55px;
}

footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 292px; 
    margin-top: 150px;
}