@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap%27');
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  
}

/* SWEET ALERT QIUEBRANDO*/
.swal2-warning {
  height: 6rem;
  width: 6rem;
}

.swal2-icon-content {
  font-size: 3.7em !important;
}

.swal2-icon.swal2-success {
  border-color: #a5dc86;
  color: #a5dc86;
  height: 5rem;
  width: 5rem;
  overflow: visible !important;
}

html{
  /*PARA O ONLY PAGE*/
     scroll-behavior: smooth; 
     overflow-x: hidden;
 }



::-webkit-scrollbar {
    width: 17.9px;
  }


  ::-webkit-scrollbar-track {
    background-color: #ffdbc8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #f8c2a6; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#fc8245; 
  }

.menu {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    pointer-events: all;
}


.logo-header {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.logo-header a {
    width: 80%;
}

.dropdown {
 
  position: relative;
  display: inline-block;
  
}

span {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-seta {
  width: 20%;
  margin-left: 11%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #FFC9AE;
  border-radius: 25px 0px 25px 25px;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 1%;

  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text-dropdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 6%;
    cursor: pointer;
    
}

.img-pata {
    width: 10%;
}


li {
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-left: 10%;
  margin-top: 8px;
  list-style-type: none;
  width: 140px;
}

.text-menu{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}

.text-menu a{
  font-family: Nunito;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #434343;
  margin: 3%;
  text-decoration: none;
}

/* .text-menu a:nth-child(2) {
  font-family: Nunito;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #434343;
  margin: 3%;
  text-decoration: none;
} */

.container-btn {
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container-sair {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;

}

.container-sair img {
  width: 30%;
}

.btn-login{
  height: 33%;
  width: 72%;
  border: 0.637931px solid #434343;
  box-sizing: border-box;
  border-radius: 94.8611px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(240, 255, 255, 0);
  cursor: pointer;

}

.header-inicial {
  width: 100%;
  position: relative;
  min-height: 720px;
  overflow: hidden;
  display: flex;
  z-index: 3;
}

.header { 
  top: 0;
  width: 100%;
  position: fixed;
  min-height: 720px;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.container-active{
  margin-top: 21px;
  margin-right: 25px;
}

.active {
  position: relative;
  background: url("../../imagens/geral/icon-osso.svg") no-repeat;
  background-position: 65%;
  background-position-y: bottom;
  padding-bottom: 20px;
} 

.text-menu span{
  font-family: Nunito;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  color: #434343;
  margin: 3%;
  cursor: pointer;

}

  
footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 292px; 
  margin-top: 150px;
}

.svg-footer {
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.container-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-bottom: 50px;
}

#svg1 {
  display: flex;
  position: absolute;
  z-index: 0;
}

#svg2 {
  display: flex;
  position: absolute;
  z-index: -1;
}

.btn-login img {
    width: 37%;
    margin-right: 7%;
}


.btn-login p{
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;  
    letter-spacing: 0.01em;
    color: #434343;


}

.container-page-1 {
    width: 100%;
    height: 657px;
}

header{
  width: 100%;
  position: relative;
  min-height: 720px;
  overflow: hidden;
}

.container-mulher {
  z-index: 3;
  min-height: 612px;
  min-width: 700px;
  display: flex;
  align-self: self-end;
}

.svg-fundo {
  position: absolute;
  z-index: 0;
}

.svg-mulher {
  position: absolute;
  z-index: 3;
  margin-left: 6%;
  margin-top: 20px;
}

.svg-fundo-mulher {
  position: absolute;
  z-index: 2;
}

.container-geral {
  position: absolute;
  z-index: 0;
  display: flex;
  width: 100%;
  min-height: 720px;
  flex-direction: row-reverse;   

}



.img-menu{
    height: 100%;
    width: 32%;
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 52%;
}

.img-menu img {
    width: 100%;

}

.container-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52%;
    left: 3%;
    z-index: 2;
}

.mensagem {
    width: 70%;
}

.mensagem p{
    font-family: Nunito Sans;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0.01em;
    color: #434343;
  


}

#btn-ver-pets{ 
  width: 201.23px;
  height: 59.2px;
  border: none;
  border-radius: 94.86px;
  background: #8675A5;
  box-shadow: 0px 3.79px 3.79px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 800;
  font-size: 20.87px;
  text-transform: uppercase;
  cursor: pointer;
 

}

.container-page-2 {
    width: 100%;
    height: 657px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-adocoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-adocoes img {
    width: 100%;
}

.contador-adocoes{
    width: 17%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 5%;
    margin-right: 2.8%;
}



.contador-adocoes p {
    font-family: Nunito Sans;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;

}

.texto-adocoes {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    margin-top: 3%;
    margin-right: 3%;

}

.texto-adocoes p{
    color: #6250D1;
}
  
.texto-adocoes p::after {
    color: #434343;
    content: " animais já encontraram um lar";

  }
  
.container-page-3 {
    width: 100%;
    height: 657px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.text-doar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .text-doar p {
    font-family: Nunito Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #434343;
    flex-wrap: wrap;
  }

  .container-page-3 img {
      width: 70%;
  }

  footer {
    width: 98.7vw;
    height: 50vh;
   
}

.svg-footer {
    width: 100%;
    object-fit: cover;
    z-index: 0;
    display: grid;
}

.container-map {
    width: 100%;
    height: 657px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-map p {
  font-family: Nunito Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #434343;
  flex-wrap: wrap;

}

.map {
  width: 64%;
  height: 360px;
  border: 3px dashed #fc8245;
  border-radius: 10px;
  margin-top: 2%;
}


.legenda-pins {
  width: 64%;
  height: 20%;
  display: flex;
  flex-direction: row;

}

.pin {
  width: 29%;
  height: 45%;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 4%;

}

.pin h1 {
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: #434343;
  flex-wrap: wrap;
  margin-left: 7%;
  margin-top: 2%;

}

.pin img {
  width: 15%;
}


.container-feedbacks{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  
}

.feedback {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -7%;
}

.image-feedback {
  width: 185px;
  height: 30%;
  position: relative;
  left: 72px;
  top: -59px;
}

.image-feedback img {
  width: 100%;
  border-radius: 100%;
}

.container-text {
  width: 30%;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  left: -287px;
  top: 22px;
  
}

.nome {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-content: baseline;
  margin-bottom: 9%;
}

.nome p {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #434343;
  /* padding-top: 5%; */
  margin-right: 7%;
}

.estrelas img {
  width: 15%;
}

.estrelas {
  width: 100%;
  height: 47%;
  flex-direction: row;
  margin-top: 5%;
}

.comentario {
  width: 100%;
  height: 79%;
  /* margin-bottom: 3%; */
}

#comentario {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-branco{
    background-color: white;
    height:657px;
    width: 100%;
    position:absolute
}

.svg-gato {
  position: absolute;
  z-index: 3;
  margin-right: 100px;
  cursor: pointer;
}

.container-gato {
  min-height: 177px;
  position: absolute;
  z-index: 3;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin-top: 55px;
}

.coluna-1 {
  width: 33%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.coluna-1 a {
  width: 40%;
}

.text-footer P {
  font-family: 'Nunito';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #434343;
  margin-top: 10px;
  text-transform: uppercase;
}

.text-footer {
  width: 40%;
  height: 29%;
  display: flex;
  align-items: flex-end;
}

.coluna-2 {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.container-rede-sociais{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container-rede-sociais img {
  height: 80%;
  margin: 2%;
}

.container-rede-sociais a {
  margin: 2%;
}

.coluna-2 p {
  font-family: 'Nunito';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #434343;
  margin-top: 10px;
  overflow: hidden;
}

.coluna-3{
  width: 33%;
  height: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.container-contato p {
  font-family: 'Nunito';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #434343;
}

.alinhamento-contato {
  height: 100%;
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.container-contato {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 5%;
}

.text-titulo-contato {
  font-family: 'Nunito';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #434343;
  overflow: hidden;
}

.container-btn-contato{
  height: 100%;
  width: 10%;  
}

.btn-contato {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 3.79px 3.79px rgb(0 0 0 / 25%);
  cursor: pointer;
}