@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Nunito Sans;
}

:root {
    --nunito: 'Nunito', sans-serif;
    --nunito-sans: 'Nunito Sans', sans-serif;
    --roxo: #8675A5;
    --branco: #fff;
    --cinza: #434343;
  }


/* Inicio da tela de adoções, opção de favorito*/

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 25px;
    left: 50px;
    right: 50px;
    height: 11vh;
  }


#logo-header{
    height: 52.63px;

  }

.background-header {
position: fixed;
top: 0;
width: 100vw;
}

.header-botoes {
display: flex;
align-items: center;
color: var(--cinza);
font-size: 20.77px;
}

.header-lista {
display: flex;
list-style-type: none;
}

.header-lista > li {
margin: 0 60px 0 0;
cursor: pointer;
}

.botao-login {
    height: 40.65px;
    width: 132px;
    background-color: transparent;
    border: 0.61px solid var(--cinza);
    border-radius: 94.86px;
    cursor: pointer;
    font-family: var(--nunito);
    font-weight: 800;
    font-style: normal;
    font-size: 16.86px;
    color: var(--cinza);
}

.pagina-atual img {
position: absolute;
top: 50px;
margin-left: 8px;
}

.container-header {
    width: 100vw;
    height: 20vh;

}

.page {
width: 1366px;
height: 657px;
}


.svg-menu-menor {
width: 100%;
height: 100%;


}

.container-adocoes {
width: 100%;
height: 85%;
display: flex;
flex-direction: row;
align-items: center;

}


/* width */
::-webkit-scrollbar {
width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
background-color: #b8dbca;
border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #A3C6C1; 
border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:#638481; 
}


.menu-lateral-adocoes{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.container-linha {
    width: 0.1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-divisao {
    width: 90%;
    height: 85%;
    background-color: #8675A5;
}

.cards-adocoes {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
   

}

.opcoes-adocoes {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
 
    
}

.img-opcoes {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.img-opcoes img {
    width: 45%;
}

.texto-opcoes {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.texto-opcoes p {
    color: #434343;
    font-size: 20px;
    padding-left: 10%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;



}


.card-animais-favoritos {
    width: 90%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #8675A5;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 1%;
    display: none;

} 



.dados-pet {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
   
}

.img-pet {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.img-pet img {
    width: 55%;
    border-radius: 100%;

}

.texto-pet{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-pet p {
    color: #434343;
    font-size: 20px;

}

.sexo-pet {
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    
}

.sexo-pet img {
    margin: 1.5%;
    width: 5.5%;
}

.dados-favoritos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  

}

.img-favorito {
    width: 100%;
    height: 53%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.container-favorito {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
   
}

.img-favorito img {
    width: 40%;

}

.clique-favorito {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.container-clique {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-alinhamento {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container-alinhamento p {
    color: #434343;
    font-size: 12px;
    text-align: center;

}

/* Inicio da tela de adoções, opção de processo de adoção*/

.card-processo-adocao {
    width: 90%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #8675A5;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 1%;
    display: none;

}



.dados-adotante {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
 


}

.texto-adotante {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    

}

.texto-adotante p {
    color: #434343;
    font-size: 15px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
   

}

.img-adotante {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.img-adotante img {
    border-radius: 100%;
    width: 80%;

}

.tipo-contato {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.linha-contato{
    width: 100%;
    height: 0.1%;
    background-color: #8675A5;

}

.img-contato {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dados-pet-processo {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;

}

.img-pet-processo {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.img-pet-processo img {
    border-radius: 100%;
    width: 80%;

}

.texto-pet-processo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
  

}
.texto-pet-processo p {
    color: #434343;
    font-size: 15px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;


   

}
.sexo-pet-processo {
    width: 100%;
    height: 20%;
    display: flex;
   
    align-items: center;
    flex-direction: row;
}

.sexo-pet-processo img {
    width: 15%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.container-bnt{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}

.container-dentro-btn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#btn-adotou {
    width: 80%;
    height: 25%;
    border: none;
    border-radius: 63.8298px;
    background-color: #8675A5;
}

.texto-adotou {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.texto-adotou P{
    color: white;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;

}

.img-btn {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-btn img {
    width: 53%;
    padding-left: 20%;
}

#btn-nao-adotou {
    width: 80%;
    height: 25%;
    border-radius: 63.8298px;
    background-color:white;
    border: 1px solid #FF5C5C;

}

.texto-nao-adotou{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.texto-nao-adotou P{
    color: #FF5C5C;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
}

/* Inicio da tela de adoções, opção de processo de animais adotados*/

.card-animais-adotados {
    width: 90%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #8675A5;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 1%;
    
}

.informacoes-adotante{
    height: 100%;
    width: 40%;
    display: flex;
  

}

.text-adotante{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
   
}

.text-adotante p {
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;

}

.imagem-adotante{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.imagem-adotante img {
    width: 70%;
    border-radius: 100%;
}

.container-casa {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.linha-casa{
    width: 100%;
    height: 0.1%;
    background-color: #8675A5;

}

.img-casa-adocao  {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;


}

.img-casa-adocao  img {
    width: 75%;
    margin-bottom: 11%;
}

