@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
}

/* width */
::-webkit-scrollbar {
    width: 17.9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #FFD8D5;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fdbbb6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#fc7b72; 
  }

:root {
    --nunito: 'Nunito', sans-serif;
    --nunito-sans: 'Nunito Sans', sans-serif;
    --roxo: #8675A5;
    --branco: #fff;
    --cinza: #434343;
  }


/* Inicio da tela de adoções, opção de favorito*/

header {
  
    width: 100%;
    position: fixed;
    z-index: 2;
}

.container-header {
    width: 100%;
    height: 22%;
}

.menu {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    
}

.logo-header {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.logo-header img {
    width: 80%;
}

.text-menu{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  
}

.text-menu a{
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #434343;
    margin: 3%;
    text-decoration: none;

}

.container-btn {
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-sair {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;

}

.container-sair img {
    width: 30%;
}

.btn-login{
    height: 33%;
    width: 72%;
    border: 0.637931px solid #434343;
    box-sizing: border-box;
    border-radius: 94.8611px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 255, 255, 0);
    cursor: pointer;

}
  
.btn-login img {
    width: 37%;
    margin-right: 7%;
}


.btn-login p{
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;  
    letter-spacing: 0.01em;
    color: #434343;


}



header img {
    width: 100%;
    object-fit: cover;
}

.img-menu{
    height: 100%;
    width: 32%;
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 52%;
}

.img-menu img {
    width: 100%;
 

}

.page {

height: 657px;
}


.svg-menu-menor {
width: 100%;
height: 100%;


}

.container-adocoes {
width: 100%;
height: 80%;
display: flex;
flex-direction: row;
align-items: center;

}




.menu-lateral-adocoes{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.container-linha {
    width: 0.1%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-divisao {
    width: 90%;
    height: 85%;
    background-color: #8675A5;
}

.cards-adocoes {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-x: auto;
   

}

.cards-adocoes p {
    text-transform: uppercase;
}

.opcoes-adocoes {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.opcoes-adocoes:hover {
    background-color: #ffe9e9 !important;
}



.img-opcoes {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.img-opcoes img {
    width: 45%;
}

.texto-opcoes {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
  
    
}

.texto-opcoes p {
    color: #434343;
    font-size: 20px;
    padding-left: 10%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;



}


.card-animais-favoritos {
    width: 90%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #8675A5;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 1%;
} 



.dados-pet {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
   
}

.img-pet {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.img-pet img {
    width: 55%;
    border-radius: 100%;

}

.texto-pet{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-pet p {
    color: #434343;
    font-family: Nunito;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;



}

.sexo-pet {
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    
}

.sexo-pet img {
    margin: 1.5%;
    width: 5.5%;
}

.dados-favoritos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  

}

.img-favorito {
    width: 100%;
    height: 53%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.container-favorito {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
   
}

.img-favorito img {
    width: 40%;

}

.clique-favorito {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}

.container-clique {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-alinhamento {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container-alinhamento p {
    color: #434343;
    font-size: 12px;
    text-align: center;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;



}

/* Inicio da tela de adoções, opção de processo de adoção*/

.card-processo-adocao {
    width: 90%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #8675A5;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 1%;
}



.dados-adotante {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
 


}

.texto-adotante {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    

}

.texto-adotante p {
    color: #434343;
    font-size: 15px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
   

}

.img-adotante {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.img-adotante img {
    border-radius: 100%;
    width: 80%;

}

.tipo-contato {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.linha-contato{
    width: 100%;
    height: 0.1%;
    background-color: #8675A5;

}

.img-contato {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dados-pet-processo {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;

}

.img-pet-processo {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.img-pet-processo img {
    border-radius: 100%;
    width: 80%;

}

.texto-pet-processo{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
  

}
.texto-pet-processo p {
    color: #434343;
    font-size: 15px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;


   

}
.sexo-pet-processo {
    width: 100%;
    height: 20%;
    display: flex;
   
    align-items: center;
    flex-direction: row;
}

.sexo-pet-processo img {
    width: 15%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.container-bnt{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}

.container-dentro-btn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#btn-adotou {
    width: 80%;
    height: 25%;
    border: none;
    border-radius: 63.8298px;
    background-color: #8675A5;
    cursor: pointer;
}

.texto-adotou {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}

.texto-adotou P{
    color: white;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;

}

.img-btn {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-btn img {
    width: 53%;
    padding-left: 20%;
}

#btn-nao-adotou {
    width: 80%;
    height: 25%;
    border-radius: 63.8298px;
    background-color:white;
    border: 1px solid #FF5C5C;
    cursor: pointer;

}

.texto-nao-adotou{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}

.texto-nao-adotou P{
    color: #FF5C5C;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
}

/* Inicio da tela de adoções, opção de processo de animais adotados*/

.card-animais-adotados {
    width: 90%;
    height: 19vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #8675A5;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 1%;
    
}

.informacoes-adotante{
    height: 100%;
    width: 40%;
    display: flex;
    margin-left: 10%;
  

}

.text-adotante{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
   
}

.text-adotante p {
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;

}

.imagem-adotante{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.imagem-adotante img {
    width: 70%;
    border-radius: 100%;
}

.container-casa {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.linha-casa{
    width: 100%;
    height: 0.1%;
    background-color: #8675A5;

}

.img-casa-adocao  {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;


}

.img-casa-adocao  img {
    width: 75%;
    margin-bottom: 11%;
}

footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 292px; 
    margin-top: 150px;
}

.svg-footer {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.container-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    margin-bottom: 50px;
}

#svg1 {
    display: flex;
    position: absolute;
    z-index: 0;
}

#svg2 {
    display: flex;
    position: absolute;
    z-index: -1;
}

.svg-gato {
    position: absolute;
    z-index: 3;
    margin-right: 100px;
}

.container-gato {
    min-height: 177px;
    position: absolute;
    z-index: 3;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 55px;
}

.coluna-1 {
    width: 33%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.coluna-1 img {
    width: 40%;
}

.text-footer P{
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #434343;
    margin-top: 5%;

}

.text-footer {
    width: 40%;
    height: 29%;
    display: flex;
    align-items: flex-end;
}

.coluna-2{
    width: 33%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-rede-sociais{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container-rede-sociais img {
    height: 80%;
    margin: 2%;
}

.coluna-2 p {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #434343;
    margin-top: 6%;

}

.coluna-3{
    width: 33%;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.container-contato p {
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #434343;

}

.alinhamento-contato {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   justify-content: center;
   
}

.container-contato {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
}

.text-titulo-contato {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #434343;

}

.container-btn-contato{
    height: 100%;
    width: 10%;
    
}


.btn-contato {
    height: 20.994733810424805px;
    width: 21.818056106567383px;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8675A5;
    box-shadow: 0px 3.79px 3.79px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-left: 6%;
}