@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


body {
    overflow-x: hidden;
}

.swal2-warning {
    height: 6rem;
    width: 6rem;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Nunito Sans;
}

html {
    /*PARA O ONLY PAGE*/
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 17.9px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #FFD8D5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fdbbb6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fc7b72;
}

:root {
    --nunito: 'Nunito', sans-serif;
    --nunito-sans: 'Nunito Sans', sans-serif;
    --roxo: #8675A5;
    --branco: #fff;
    --cinza: #434343;
}

main {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.container-header {
    width: 100%;
    height: 30%;
}

.menu {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
}

.logo-header {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header a {
    width: 80%;
}

.text-menu {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.text-menu a {
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #434343;
    margin: 3%;
    text-decoration: none;
}

.text-menu span {
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #434343;
    margin: 3%;
    cursor: pointer;
}

.container-btn {
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sair {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
}

.container-sair img {
    width: 30%;
}

.btn-login {
    height: 33%;
    width: 72%;
    border: 0.637931px solid #434343;
    box-sizing: border-box;
    border-radius: 94.8611px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(240, 255, 255, 0);
    cursor: pointer;
}

.btn-login img {
    width: 37%;
    margin-right: 7%;
}


.btn-login p {
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #434343;
}



header img {
    width: 100%;
}

.img-menu {
    height: 100%;
    width: 32%;
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 52%;
}

.img-menu img {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

span {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-seta {
    width: 20%;
    margin-left: 11%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #FFC9AE;
    border-radius: 25px 0px 25px 25px;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 1%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text-dropdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 7%;
}

.text-dropdown img {
    width: 10%;
}

.text-dropdown p {
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 6%;
}

.container-informacao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container-descricao {
    height: 80%;
    width: 50%;
}

.container-fotos {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-principal {
    width: 464.44px;
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4%;
}

.foto-principal img {
    width: 100%;
    min-height: 100%;
    filter: drop-shadow(11.3833px 11.3833px 11.3833px rgba(0, 0, 0, 0.25));
    border-radius: 4%;
}

.foto-opcao {
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.foto {
    width: 30%;
    height: 73%;
    display: flex;
    justify-content: center;
    border: 0.948611px solid #8F7FAC;
    box-sizing: border-box;
    border-radius: 10%;
    cursor: pointer;
    align-items: center;
    padding: 2%;
}

.foto img {
    height: 100%;
    max-width: 100%;
    border-radius: 10%;
}

.container-nome {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}

.container-nome p {
    font-family: Nunito;
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
}

.container-nome img {
    width: 7%;
    margin-right: 2%;
}

.container-colunas {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.coluna {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
}

.informacao-coluna {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
}

.informacao-coluna h1 {
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #7386AE;
}

.informacao-coluna p {
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
}

.container-texto {
    width: 77%;
    height: 23%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-texto h1 {
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #7386AE;
}

.container-texto p {
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
}

.container-btn-coluna {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.container-btn-coluna u {
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #434343;
}

.btn-adotar {
    width: 317.78px;
    height: 44.58px;
    border: none;
    background: #8F7FAC;
    border-radius: 94.8611px;
    filter: drop-shadow(0px 3.79444px 3.79444px rgba(0, 0, 0, 0.25));
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 2%;
}

.btn-ajuda {
    width: 317.78px;
    height: 44.58px;
    border: 0.948611px solid #8F7FAC;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 94.8611px;
    filter: drop-shadow(0px 3.79444px 3.79444px rgba(0, 0, 0, 0.25));
    font-family: Nunito;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #8F7FAC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.container-branco {
    width: 100%;
    height: 20%;
}


.svg-footer {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.container-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    margin-bottom: 50px;
}

.coluna-1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coluna-1 a {
    width: 180px;
}

.text-footer P {
    font-family: 'Nunito';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: #434343;
    margin-top: 10px;
    text-transform: uppercase;
}

.text-footer {
    width: 40%;
    height: 29%;
    display: flex;
    align-items: flex-end;
}

.coluna-2 {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.container-rede-sociais {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container-rede-sociais img {
    height: 38px;
    margin: 2%;
}

.container-rede-sociais a {
    margin: 2%;
}

.coluna-2 p {
    font-family: 'Nunito';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #434343;
    margin-top: 10px;
    overflow: hidden;
}

.coluna-3 {
    width: 33%;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-contato p {
    font-family: 'Nunito';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #434343;
}

.alinhamento-contato {
    height: 100%;
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.container-contato {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.text-titulo-contato {
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #434343;
    overflow: hidden;
}

.container-btn-contato {
    height: 100%;
}

.btn-contato {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 3.79px 3.79px rgb(0 0 0 / 25%);
    cursor: pointer;
}

#svg1 {
    display: flex;
    position: absolute;
    z-index: 0;
}

#svg2 {
    display: flex;
    position: absolute;
    z-index: -1;
}

.svg-gato {
    position: absolute;
    z-index: 3;
    margin-right: 100px;
    cursor: pointer;
}

.container-gato {
    min-height: 177px;
    position: absolute;
    z-index: 3;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 55px;
}

footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 292px;
    margin-top: 150px;
}