.loading {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.loading-content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.position-loading {
  width: 20%;
  position: absolute;
}