@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap%27');


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  
}
html{
    /*PARA O ONLY PAGE*/
       scroll-behavior: smooth; 
   }
  

body {
    min-width: 1348.1px;
}

/* width */
::-webkit-scrollbar {
    width: 17.9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #FFD8D5;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fdbbb6; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#fc7b72; 
  }

.menu {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    
}

.logo-header {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.logo-header a {
    width: 80%;
}

.text-menu{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  
}

.text-menu a{
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #434343;
    margin: 3%;
    text-decoration: none;

}

.container-btn {
    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-sair {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;

}

.container-sair img {
    width: 30%;
}

.btn-login{
    height: 33%;
    width: 72%;
    border: 0.637931px solid #434343;
    box-sizing: border-box;
    border-radius: 94.8611px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 255, 255, 0);
    cursor: pointer;

}
  


.btn-login img {
    width: 37%;
    margin-right: 7%;
}


.btn-login p{
    font-family: Nunito;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;  
    letter-spacing: 0.01em;
    color: #434343;
}

header{
    width: 100%;
    position: relative;
    min-height: 720px;
    overflow: hidden;
    display: flex;
}

.container-mulher {
    z-index: 3;
    min-height: 612px;
    min-width: 700px;
    display: flex;
    align-self: self-end;
}

.svg-fundo {
    position: absolute;
    z-index: 0;
}

.svg-mulher {
    position: absolute;
    z-index: 3;
    margin-left: 6%;
    margin-top: 20px;
}

.svg-fundo-mulher {
    position: absolute;
    z-index: 2;
}

.container-geral {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 720px;
    flex-direction: row-reverse;   
}

header img {
    width: 100%;
    object-fit: cover;
}

.img-menu{
    height: 100%;
    width: 32%;
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 52%;
}

.img-menu img {
    width: 100%;
 

}

.container-menu{
    display: flex;
    flex-direction: column;
    align-self: self-end;
    justify-self: unset;
    margin-left: 35px;
    margin-bottom: 127px;
    z-index: 4;
}

.mensagem {
    width: 70%;
}

.mensagem p{
    font-family: Nunito Sans;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0.01em;
    color: #434343;
  


}

#btn-ver-pets{ 
  width: 201.23px;
  height: 59.2px;
  border: none;
  border-radius: 94.86px;
  background: #8675A5;
  box-shadow: 0px 3.79px 3.79px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 800;
  font-size: 20.87px;
  text-transform: uppercase;
  cursor: pointer;
 

}

.container-page-2 {
    width: 1349px;
    min-height: 305px;
    display: flex;
    align-items: center;
    margin-top: 150px;
    justify-content: center;
}

.container-adocoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-adocoes img {
    width: 100%;
}

.contador-adocoes{
    width: 17%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 5%;
    margin-right: 2.8%;
}



.contador-adocoes p {
    font-family: Nunito Sans;
    font-size: 57px;
    font-style: normal;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;

}

.texto-adocoes {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    margin-top: 3%;
    margin-right: 3%;

}

.texto-adocoes p {
    color: #6250D1;
}
  
.texto-adocoes p::after {
    color: #434343;
    content: " animais já encontraram um lar";

  }
  
.container-page-3 {
    width: 1349px;
    min-height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
  }

.text-doar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

  .text-doar p {
    font-family: Nunito Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.01em;
    color: #434343;
    
  }

  .container-page-3 img {
      width: 70%;
  }

.svg-footer {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.container-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    margin-bottom: 50px;
}

.coluna-1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coluna-1 a {
    width: 180px;
}

.text-footer P{
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: #434343;
    margin-top: 10px;
}

.text-footer {
    width: 40%;
    height: 29%;
    display: flex;
    align-items: flex-end;
}

.coluna-2{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-rede-sociais{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container-rede-sociais img {
    height: 38px;
    margin: 2%;
}

.coluna-2 p {
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #434343;
    margin-top: 10px;
}

.coluna-3{
    width: 33%;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-contato p {
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #434343;
}

.alinhamento-contato {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-contato {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.text-titulo-contato {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #434343;
}

.container-btn-contato{
    height: 100%;   
}

.btn-contato {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 3.79px 3.79px rgb(0 0 0 / 25%);
    cursor: pointer;
}

#svg1 {
    display: flex;
    position: absolute;
    z-index: 0;
}

#svg2 {
    display: flex;
    position: absolute;
    z-index: -1;
}

.svg-gato {
    position: absolute;
    z-index: 3;
    margin-right: 100px;
}

.container-gato {
    min-height: 177px;
    position: absolute;
    z-index: 3;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin-top: 55px;
}

footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 292px; 
    margin-top: 150px;
}