@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


.background-header-rosa {
position: fixed;
top: 0;
width: 100vw;
}
   
.botoes-header {
display: flex;
align-items: center;
color: var(--cinza);
font-size: 20.77px;
}

.header-lista {
display: flex;
list-style-type: none;
}

.lista-header > li {
margin: 0 60px 0 0;
cursor: pointer;
}

.botao-login {
height: 40.65px;
width: 132px;
background-color: transparent;
border: 0.61px solid var(--cinza);
border-radius: 94.86px;
cursor: pointer;
font-family: var(--nunito);
font-weight: 800;
font-style: normal;
font-size: 16.86px;
color: var(--cinza);
}

.pagina-atual img {
position: absolute;
top: 50px;
margin-left: 8px;
}

.page {
width: 1366px;
height: 657px;
}