@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin:0;
}

:root {
  --nunito: 'Nunito', sans-serif;
  --nunito-sans: 'Nunito Sans', sans-serif;
  --roxo: #8675A5;
  --branco: #fff;
  --cinza: #434343;
}

/* / width / */
.App::-webkit-scrollbar {
  width: 17.9px;
}

/* / Track / */
.App::-webkit-scrollbar-track {
  background-color: #ffe0a2;
  border-radius: 10px;
}

/* / Handle / */
.App::-webkit-scrollbar-thumb {
  background: #ffc757; 
  border-radius: 10px;
}

/* / Handle on hover / */
.App::-webkit-scrollbar-thumb:hover {
  background:#ffb623; 
}


.App {
  display: flex;
  flex-direction: column;
}

/* HEADER */
.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--nunito);
  font-size: 22.77px;
  z-index: 1;
}

.img-backgound {
  /* position: absolute; */
  object-fit: contain;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 160px;
  left: 50px;
  right: 50px;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 15px;
  left: 50px;
  right: 50px;
}

.background-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header-botoes {
  display: flex;
  align-items: center;
  color: var(--cinza);
  font-size: 22.77px;
}

.header-lista {
  display: flex;
  list-style-type: none;
}

.header-lista > li {
  margin: 0 60px 0 0;
  cursor: pointer;
}

.home img {
  position: absolute;
  top: 40px;
  margin-left: 8px;
}

.como-funciona img {
  position: absolute;
  top: 40px;
  margin-left: 65px;
}

.adote img {
  position: absolute;
  top: 40px;
  margin-left: 15px;
}

.ativo img{
  visibility: visible;
}

.inativo img{
  visibility: hidden;
}

.botao-login {
  height: 44.65px;
  width: 146px;
  background-color: transparent;
  border: 0.61px solid var(--cinza);
  border-radius: 94.86px;
  cursor: pointer;
  font-family: var(--nunito);
  font-weight: 800;
  font-style: normal;
  font-size: 20.86px;
  color: var(--cinza);
}
/* FIM HEADER */


/* CONTEUDO HOME */
.container-home {
  display: flex;
  justify-content: space-between;
}

.container-home img {
  height: 75vh;
  margin-right: 50px;
}

.content-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: var(--nunito-sans);
  color: var(--cinza);
  padding-bottom: 3vh;
}

.texto-grande {
  margin: 0;
  font-weight: 600;
  font-size: 56.74px;
}

.texto-pequeno {
  margin: 0;
  font-size: 18.97px;
  padding: 2vh 0 6vh 0;
}

/* COMPONENTE BOTAO-CADASTRAR */
.botao-cadastrar {
  width: 217.23px;
  height: 67.20px;
  border: none;
  border-radius: 94.86px;
  background-color: var(--roxo);
  box-shadow: 0px 3.79px 3.79px rgba(0, 0, 0, 0.25);
  color: var(--branco);
  font-family: var(--nunito);
  font-weight: 800;
  font-size: 20.87px;
  text-transform: uppercase;
  cursor: pointer;
}
/* FIM COMPONENTE BOTAO-CADASTRAR */

/* FIM CONTEUDO HOME */

/* CONTEUDO COMO FUNCIONA */
.container-como-funciona {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: var(--nunito-sans);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.container-imagem {
  display: flex;
  width: 50vw;
  justify-content: center;
}

.container-imagem img {
  width: 100%;
}

/* FIM CONTEUDO COMO FUNCIONA */

/* CONTEUDO ANIMAIS PARA ADOÇÃO */

.container-adocao {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caminho-HLD-adocao {
  position: absolute;
  right: -6vw;
  top: 195vh;
  height: 60%;
  z-index: -1;
}

.caminho-adocao-cadastro {
  position: absolute;
  left: 0vw;
  top: 250vh;
  height: 40%;
  z-index: -1;
}

.conteudo-adocao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50vh;
  margin-top: 5vh;
}

.cards-adocao {
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 60%;
}

/* FIM CONTEUDO ANIMAIS PARA ADOÇÃO */

/* CONTEUDO CADASTRO */

.container-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.conteudo-cadastro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 3%;
  width: 100vw;
  height: 75vh;
  background-image: url(../imagens/Home/formas-cadastro.svg);
  background-repeat: no-repeat;
}

.content-doar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-adotar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-cadastro {
  padding: 5%;
  color: var(--cinza);
  font-family: Nunito Sans;
  font-size: 22.77px;
  font-style: 500;
  font-weight: 400;
  line-height: 31.5px;
  letter-spacing: 0.01em;
}
/* FIM CONTEUDO CADASTRO */


/* CONTEUDO QUEM SOMOS */
.container-quem-somos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.img-quem-somos {
  width: 100%;
}

/* FIM CONTEUDO QUEM SOMOS */

/* FOOTER */
footer {
  margin-top: 5%;
  height: 341px;
  width: 100vw;
  background-image: url(../imagens/Geral/forma-footer.svg);
  background-repeat: no-repeat;
}

footer p {
  color: var(--cinza);
  font-family: var(--nunito-sans);
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.container-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  padding-left: 5%;
  padding-bottom: 1%;
}

.content-redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  justify-content: space-around;
  padding-bottom: 1%;

}

.redes-sociais {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-contato-footer {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 10%;
  justify-content: space-around;
  padding-right: 5%;
  padding-bottom: 1%;
}

.titulo-contato p {
  color: var(--cinza);
  font-family: var(--nunito-sans);
  font-size: 13.28px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.11px;
  letter-spacing: 0.01em;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.telefone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.a {
  cursor: default;
}

/* FIM FOOTER */