@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin:0;
}

/* CARD */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    border-radius: 14.2px;
    margin-left: 6.25%;
}

/* IMAGEM CARD */
.imagem-card {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 67%;
    border-radius: 14.2px 14.2px 0 0;
    background-image: url(../imagens/Home/gato-card.png);
    background-size: contain;
    box-shadow: 4.74306px 4.74306px 3.79444px -1.89722px rgba(0, 0, 0, 0.25);
}

.favoritar {
    margin: 5%;
    width: 10%;
    height: 10%;
}

.favoritar img {
    width: 100%;
}

/* FIM IMAGEM CARD */

/* DESCRICAO CARD */
.descricao-card { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    border-radius: 0 0 14.2px 14.2px;
    box-shadow: 4.74306px 4.74306px 3.79444px -1.89722px rgba(0, 0, 0, 0.25);
}

.descricao-esquerda { 
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border-radius: 0 0 0 14.2px;
    background-color: var(--branco);
}

.nome-pet {
    padding: 7% 0 0 5%;
    color: var(--cinza);
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.sobre-pet { 
    padding-left: 5%;
    color: var(--cinza);
    font-family: Nunito Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.descricao-direita { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 30%;
    border-radius: 0 0 14.2px 0;
    background-color: var(--branco);
}

.idade-pet {
    color: var(--cinza);
    font-family: Nunito Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.distancia-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: var(--cinza);
    font-family: Nunito Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.distancia-pet img { 
    width: 45%;
}

/* FIM DESCRICAO CARD */

.botao-card {
    top: 68.5%;
    left: 30%;
    display: flex;
    position: relative;
    width: 40%;
    height: 8%;
    z-index: 1;
}

.botao-card button {
    width: 100%;
    height: 100%;
    color: var(--branco);
    background-color: var(--roxo);
    border: 0;
    border-radius: 14.23px;
    box-shadow: 0px 3.79px 3.79px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    font-family: Nunito Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
}