/* .modal{
    background-color: white;
    position: fixed;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 40px;
    z-index: 10;
    color: black;
} */

/* .show{
    display: block !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap%27');

:root {
  --titulo-campos: #6250D1;
  --fonte-padrao: #434343;
  --roxo: #8F7FAC;
  --branco: #FFFFFF;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
}

.modal {
  top: 20vh;
  left: 25vw;
  position: fixed;
  height: 450px;
  width: 656px;
  display: flex;
  background-color: white;
  z-index: 10;
}

.container-direita {
  z-index: 1;
  width: 50%;
  display: flex;
  align-self: flex-end;
  flex-direction: row-reverse;
}

.container-esquerda {
  z-index: 1;
  width: 50%;
}

.container-conteudo {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: baseline;
}

.container-central {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  align-items: center;
}



.btn-css {
  margin: 15px;
  width: 158px;
  height: 49px;
  border: none;
  border-radius: 94.86px;
  background-color: var(--roxo);
  box-shadow: 0px 3.79px 3.79px rgb(0 0 0 / 25%);
  color: var(--branco);
  font-family: var(--nunito);
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}


.conteudo-texto {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 38px;
  width: 130px;
  font-weight: 400;
}

.container-acesso {
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  place-self: end;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container-acesso a {
  text-decoration: none;
  cursor: pointer;
}

.icon-fechar {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
}